@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

.grad{
  background:radial-gradient(at bottom left,rgb(55, 54, 38) , rgb(23 23 23 ));
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

.d {
  border: 1px solid red;
}
